body{
    background-color:rgb(240, 230, 230);
    color:black;
    font-family: times new roman;
}
h1{
    font-size: 36px;
    color: #333;
    
    text-align: center;
    
}
.head h1 h3{
    background-color: #331780;
}